<ion-view view-title="Filter">
  <ion-content>
    <div class="row">
      <div class="col">
        <div class="list">
          <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type='text' placeholder='Enter search terms...' ng-model='searchTerms'/>
          </label>
          <button class="button button-full button-calm" ng-click='search(searchTerms)'>Search</button>
          <img class="searchImage" ng-src="{{photoSrc}}">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button class='btn' id='0'></button>
      </div>
      <div class="col">
        <button class="button 1"></button>
      </div>
      <div class="col">
        <button class="button 2"></button>
      </div>
      <div class="col">
        <button class="button b"></button>
      </div>
      <div class="col">
        <button class="button 4"></button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button class="button 3"></button>
      </div>
      <div class="col">
        <button class="button 5"></button>
      </div>
      <div class="col">
        <button class="button 6"></button>
      </div>
      <div class="col">
        <button class="button 7"></button>
      </div>
      <div class="col">
        <button class="button 8"></button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button class="button 9"></button>
      </div>
      <div class="col">
        <button class="button a"></button>
      </div>
      <div class="col">
        <button class="button c"></button>
      </div>
      <div class="col">
        <button class="button d"></button>
      </div>
      <div class="col">
        <button class="button e"></button>
      </div>
    </div>
  </ion-content>
</ion-view>
