<ion-view view-title="Photographs">
  <ion-content>
<!--
    <div class="card">
      <div class="item item-divider item-calm">
        <h2>Theodore Roethke:</h2>
      </div>

      <div class="item item-image item-text-wrap">
        <p>Deep in their roots, all flowers keep the light.</p>

        <img src="http://www.hartsgreenhouseflorist.com/images/events/easter_lily.jpg">
      </div>

      <div class="item item-text-wrap">
        <div class="button-bar">
          <a class="button button-calm" ng-click="openModal()">Start Gallery Slideshow</a>
        </div>
      </div>

    </div>
-->

    <div class="container">
      <div ng-repeat="photo in photos"
        class="photo"
        style="
          background-image:url(https://farm{{photo.farm}}.staticflickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}.jpg);
          background-size: cover;
          background-position: 50%;
          "
          ng-click="openModal($index)">
      </div>
    </div>

    <script id="image-modal.html" type="text/ng-template">
      <div class="modal image-modal transparent" ng-click="closeModal()">
        <ion-slide-box delegate-handle="photoSlideBox" on-slide-changed="slideHasChanged($slideIndex)" show-pager="true">
          <ion-slide ng-repeat="photo in photos">
            <img ng-src="https://farm{{photo.farm}}.staticflickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}.jpg" class="fullscreen-image"/>
          </ion-slide>
        </ion-slide-box>
      </div>
    </script>


  </ion-content>
</ion-view>
